@media (min-width: 992px) {
    .img-container {
      max-width: 50%; /* Adjust as needed */
      height: auto;
      margin:auto;
      display: block;
    }

    .header-text{
      font-size: 50px;
      text-align: right;
    }

    .header-subtext{
      font-size: 30%;
      text-align: center;
      margin-bottom: -2px;
    }
    .side-panel{
      background-color: #800000;
    }
    .side-panel-mobile{
      display:none;
    }
    button.btn-mobile{
      display:none;
    }
  }

  @media (min-width:768px) and (max-width:991px){
    .img-container {
      max-width: 80%; /* Adjust as needed */
      height: auto;
      margin:auto;
      display: block;
    }

    .header-text{
      font-size: 30px;
      text-align: right;
    }

    .header-subtext{
      font-size: 50%;
      text-align: center;
      margin-bottom: -2px;
    }
    .side-panel{
      background-color: #800000;
    }
    .side-panel-mobile{
      display:none;
    }
    button.btn-mobile{
      display:none;
    }
  }
  /* Media query for mobile devices */
@media (max-width: 767px) {
  .img-container {
    min-width: 70%; /* Full width on smaller screens */
    height: auto;
  }
  .header-text{
    font-size: 110%;
    text-align: center;
  }
  .header-subtext{
    font-size: 50%;
    text-align: center;
    margin-bottom: -2px;
  }
  .side-panel{
    display:none;
    z-index:2;
  }
  /* .side-panel-mobile{
    
    
  } */
  button.btn-mobile{
    position:fixed;
    z-index: 1;
    max-width: 1.5in;
    margin-left: 0.5in;
    margin-top: 5in;
  }
}

.header{
  padding-left: 20px;
  padding-right: 50px;
  padding-bottom: 2%;
}

